altair==5.3.0
attrs==23.2.0
blinker==1.7.0
Brotli
cachetools==5.3.3
certifi
charset-normalizer
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
filelock
fonttools==4.51.0
fsspec==2024.3.1
gitdb==4.0.11
GitPython==3.1.43
gmpy2
idna
Jinja2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.8.4
mdurl==0.1.2
mpmath
networkx
numpy
opencv-python
packaging==24.0
pandas==2.2.2
pillow
protobuf==4.25.3
psutil==5.9.8
py-cpuinfo==9.0.0
pyarrow==16.0.0
pydeck==0.8.1b0
Pygments==2.17.2
pyparsing==3.1.2
PySocks
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML
referencing==0.34.0
requests
rich==13.7.1
rpds-py==0.18.0
scipy==1.13.0
seaborn==0.13.2
six==1.16.0
smmap==5.0.1
streamlit
sympy
tenacity==8.2.3
thop==0.1.1.post2209072238
toml==0.10.2
toolz==0.12.1
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tornado==6.4
tqdm==4.66.2
typing_extensions
tzdata==2024.1
ultralytics==8.2.2
urllib3
watchdog==4.0.0
win-inet-pton
opencv-contrib-python-headless
streamlit_webrtc
tensorflow
streamlit-server-state
